

<table class="table table-striped">
    <thead>
        <tr>
            <th>Appointment Organization</th>
            <th>Name Surname</th>
            
            <th>Appointment Time</th>
            
        </tr>
        
    </thead>

    <tbody>
        <tr *ngFor="let appointment of appointments">
            <td *ngIf="appointment.patient?.patientId!=null">{{appointment.organizationId?.name}}</td>
            <td *ngIf="appointment.patient?.patientId!=null">{{appointment.patient?.firstName}} {{appointment.patient?.lastName}}</td>
            
            <td *ngIf="appointment.patient?.patientId!=null">{{appointment.starttime}} - {{appointment.endtime}}</td>
            
        </tr>

    </tbody>


</table>
