<div class="row">
<div class="col-md-4">
    <h3>Patient Check</h3>
    <form [formGroup]="patientadmissionAddForm" (ngSubmit)="getPatient()">


        <div class="form-group">
            <label for="tcNo">TC No</label>
            <input type="text" class="form-control" id="tcNo" formControlName="tcNo">
        </div>

        <div class="form-group">
            <label for="firstName">FirstName</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
        </div>

        <div class="form-group">
            <label for="lastName">LastName</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
        </div>
        
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" formControlName="age">
        </div>

        <div class="form-group">
            <label for="dropdown">Gender</label>
            <select class="form-control" id="dropdown" formControlName="gender">
              <option value="Erkek">Erkek</option>
              <option value="Kadın">Kadın</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>

    <div class="col-md-8">
        <h3>Patient Admission</h3>
        <form [formGroup]="organizationAddForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="tcNo">Admission Date</label>
                <input type="date" class="form-control" id="admissionDate" formControlName="admissionDate">
            </div>

            <div class="form-group">
                <label for="dropdown">Admission Type</label>
                <select class="form-control" id="admissionType" formControlName="admissionType">
                    <option value="Ayakta">Ayakta</option>
                    <option value="Yatan">Yatan</option>
                    <option value="Günübirlik">Günübirlik</option>
                </select>
            </div>

            <div class="form-group">
                <label for="tcNo">Note</label>
                <input type="text" class="form-control" id="note" formControlName="note">
            </div>

            <!-- <div class="form-group">
                <label for="tcNo">Status</label>
                <input type="text" class="form-control" id="status" formControlName="status">
            </div> -->

            <div class="form-group">
                <label for="dropdown">Select Organization</label>
                <select id="dropdown" formControlName="organizationId" (change)="onOrganizationChange($event)">
                    <option *ngFor="let organization of organizations" [value]="organization.organizationId">{{organization.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="staff">Select Staff</label>
                <select id="staff" formControlName="staffId">
                    <option *ngFor="let staff of staffs" [value]="staff.staffId">{{staff.name}}  {{staff.surname}}</option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-primary">Create</button>

            
        </form>
    </div>

</div>
    


    

    
